.info-box{
  margin-top: 40px;
  padding-bottom: 124px;
}

.members-box{
  margin-top: 44px;
}

.info-right{
  padding-left: 64px;
}

.tag{
  float: left;
  margin-right: 20px;
  margin-bottom: 12px;
}
