{% extends 'inc/base.html' %}
{% load static %}

{% block title %}AskPupkin{% endblock %}
{% block extrahead %}
    <link href="{% static "css/main-index.css" %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="row">
      <div class="col-4 question-new">
        <h4>New Questions</h4>
      </div>
      <div class="col question-hot">
        <a href="{% url 'hot' %}" class="text-dark">Hot Questions</a>
      </div>

      {% for question in questions %}
        {% include 'inc/question_box.html' %}
      {% endfor %}
    </div>
{% endblock %}

{% block footer %}
    {% include 'inc/pagination.html' %}
{% endblock %}
