{% extends 'inc/base.html' %}

{% load bootstrap4 %}
{% load static %}

{% block title %}Question{% endblock %}
{% block extrahead %}
    <link href="{% static 'css/ask.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="row box-qst" data-id="{{ question.pk }}">
      <div class="col-2 info-person-qst">
        <img class="person-qst-img" src="{{ question.user.profile.avatar.url }}" alt="">
        <div class="d-flex justify-content-center like-info">
          <img class="btn btn-primary btn-sm btn-light js-vote" data-action="like" data-id="{{ question.pk }}" src="{% static 'img/like.png' %}" height="24">
          <div class="bd-highlight like-status" id="like-rating-{{ question.pk }}">{{ question.like }}</div>
          <img class="btn btn-primary btn-sm btn-light js-vote" data-action="dislike" data-id="{{ question.pk }}" src="{% static 'img/dislike.png' %}" height="24">
        </div>
      </div>

      <div class="col-10 content-qst">
        <div class="title-qst">
          <h4>{{ question.title }}</h4>
        </div>
        <div class="text-qst">
          {{ question.text }}
        </div>
        <div class="tags-qst">
          {% for tag in question.tags.get_all %}
            <p class="float-left ques-tag">
              <a href="{% url 'tag' tagname=tag.name %}" class="button-tag btn btn-outline-info">{{ tag.name }}</a>
            </p>
          {% endfor %}
        </div>
      </div>
    </div>

    <div class="answers border-bottom border-top border-dark">
      {% for answer in answers %}
        {% include 'inc/answer_box.html' %}
      {% endfor %}
    </div>

    <form class="body-page col-12 new-answer" method="post" novalidate>
      <!-- <div class="form-group">
        <textarea class="form-control border border-dark" id="inputText" rows=4 placeholder="Enter your answer here"></textarea>
      </div>
      <button type="submit" class="btn btn-primary mb-2 btn-dark">Answer</button> -->

      {% csrf_token %}
      {% bootstrap_form form %}
      {% buttons %}
        <button type="submit" class="btn btn-primary btn-dark">Answer</button>
      {% endbuttons %}
    </form>
{% endblock %}

{% block footer %}
    {% include 'inc/pagination.html' %}
{% endblock %}

{% block jscode %}
  <script src="{% static "js/vote.js" %}">
  </script>
  <script src="{% static "js/correct-answer.js" %}"></script>
  <script>
    var token = '{{ token }}';
    var quest_id = '{{ quest_id }}'

    cent = new Centrifuge('ws://localhost:8000/connection/websocket');
    cent.setToken(token);
    console.log('canal: ' + 'answer-quest-' + quest_id);
    cent.subscribe('answer-quest-' + quest_id, function(msg) { console.log(msg) });
    cent.connect()
  </script>
{% endblock %}
