{% extends 'inc/base.html' %}
{% load static %}

{% block title %}Question{% endblock %}
{% block extrahead %}
    <link href="{% static 'css/ask.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="row box-qst">
      <div class="col-2 info-person-qst">
        <img class="person-qst-img" src="{% static 'img/200.jpeg' %}" alt="">
        <div class="d-flex justify-content-center like-info">
          <img class="btn btn-primary btn-sm btn-light" src="{% static 'img/like.png' %}" height="24">
          <div class="bd-highlight like-status">{{ question.like }}</div>
          <img class="btn btn-primary btn-sm btn-light" src="{% static 'img/dislike.png' %}" height="24">
        </div>
      </div>

      <div class="col-10 content-qst">
        <div class="title-qst">
          <h4>{{ question.title }}</h4>
        </div>
        <div class="text-qst">
          {{ question.text }}
        </div>
        <div class="tags-qst">
          <p class="float-left">Tags: </p>
          <p class="float-left tag-qst">
            <a href="#">black-jack</a>
          </p>
          <p class="float-left tag-qst">
            <a href="#">bender</a>
          </p>
        </div>
      </div>
    </div>

    <div class="answers border-bottom border-top border-dark">
      {% for answer in answers %}
        {% include 'inc/answer_box.html' %}
      {% endfor %}
    </div>

    <form class="body-page col-12 new-answer">
      <div class="form-group">
        <textarea class="form-control border border-dark" id="inputText" rows=4 placeholder="Enter your answer here"></textarea>
      </div>
      <button type="submit" class="btn btn-primary mb-2 btn-dark">Answer</button>
    </form>
{% endblock %}

{% block footer %}
    {% include 'inc/pagination.html' %}
{% endblock %}
