{% extends 'inc/base.html' %}
{% load static %}

{% block title %}Settings{% endblock %}
{% block extrahead %}
    <link href="{% static "css/settings.css" %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="row">
      <div class="col-2 name-page">
        <h4>Settings:</h4>
      </div>
      <div class="col-10 name-person">
        <h4>Dr. Peopper</h4>
      </div>

      <form class="body-page col-12">
        <div class="form-group row">
          <label for="inputLogin" class="col-sm-2 col-form-label">Login</label>
          <div class="col-sm-10">
            <input class="form-control" id="inputLogin" placeholder="dr_pepper">
          </div>
        </div>
        <div class="form-group row">
          <label for="inputEmail" class="col-sm-2 col-form-label">Email</label>
          <div class="col-sm-10">
            <input class="form-control" id="inputEmail" placeholder="drpepper@mail.ru">
          </div>
        </div>
        <div class="form-group row">
          <label for="inputNickName" class="col-sm-2 col-form-label">NickName</label>
          <div class="col-sm-10">
            <input class="form-control" id="inputNickName" placeholder="Dr. Pepper">
          </div>
        </div>
        <div class="form-group row">
          <label for="uploadAvatar" class="col-sm-2 col-form-label">Upload avatar</label>
          <div class="col-sm-10">
            <img class="avatar-main-img" src="{% static 'img/200.jpeg' %}" alt="">
          </div>
        </div>
        <div class="input-group mb-3">
          <div class="col-sm-2"></div>
          <div class="custom-file">
            <input type="file" class="custom-file-input" id="inputGroupFile02">
            <label class="custom-file-label" for="inputGroupFile02" aria-describedby="inputGroupFileAddon02">Choose img</label>
          </div>
          <div class="input-group-append">
            <span class="input-group-text" id="inputGroupFileAddon02">Upload</span>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-2"></div>
          <button type="submit" class="btn btn-primary mb-2 btn-dark">Save</button>
        </div>
      </form>
    </div>
{% endblock %}
