{% extends 'inc/base.html' %}

{% load bootstrap4 %}
{% load static %}

{% block title %}Signup{% endblock %}
{% block extrahead %}
    <link href="{% static "css/signup.css" %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="row">
      <div class="col-4 name-page">
        <h4>Registration</h4>
      </div>

      <form class="body-page col-12" action="/signup/?next={{ continue }}" method="post" novalidate>
        <!-- <h5 class="inline text-danger">User with this Email already exists</h5> -->
        <!-- <div class="form-group row">
          <label for="inputLogin" class="col-sm-3 col-form-label">Login</label>
          <div class="col-sm-9">
            <input class="form-control" id="inputLogin" placeholder="dr_pepper">
          </div>
        </div>
        <div class="form-group row">
          <label for="inputEmail" class="col-sm-3 col-form-label">Email</label>
          <div class="col-sm-9">
            <input class="form-control" id="inputEmail" placeholder="drpepper@mail.ru">
          </div>
        </div>
        <div class="form-group row">
          <label for="inputNickName" class="col-sm-3 col-form-label">NickName</label>
          <div class="col-sm-9">
            <input class="form-control" id="inputNickName" placeholder="Dr. Pepper">
          </div>
        </div>
        <div class="form-group row">
          <label for="inputPassword" class="col-sm-3 col-form-label">Password</label>
          <div class="col-sm-9">
            <input type="password" class="form-control" id="inputPassword">
          </div>
        </div>
        <div class="form-group row">
          <label for="inputRepeatPassword" class="col-sm-3 col-form-label">Repeat password</label>
          <div class="col-sm-9">
            <input type="password" class="form-control" id="inputRepeatPassword">
          </div>
        </div>
        <div class="form-group row">
          <label for="uploadAvatar" class="col-sm-3 col-form-label">Upload avatar</label>
          <div class="col-sm-9">
            <div class="input-group mb-3">
              <div class="custom-file">
                <input type="file" class="custom-file-input" id="inputGroupFile02">
                <label class="custom-file-label" for="inputGroupFile02" aria-describedby="inputGroupFileAddon02">Choose img</label>
              </div>
              <div class="input-group-append">
                <span class="input-group-text" id="inputGroupFileAddon02">Upload</span>
              </div>
            </div>
          </div>
        </div> -->

        {% csrf_token %}
        {% bootstrap_form form %}
        {% buttons %}
          <button type="submit" class="btn btn-primary btn-dark">Log in</button>
        {% endbuttons %}

        <!-- <div class="row">
          <div class="col-sm-3"></div>
          <button type="submit" class="btn btn-primary mb-2 btn-dark reg-btn">Registr</button>
        </div> -->
      </form>
    </div>
{% endblock %}
