{% extends 'inc/base.html' %}
{% load static %}

{% block title %}Tag{% endblock %}
{% block extrahead %}
    <link href="{% static "css/main-index.css" %}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-2">
    <h4>Tag:</h4>
  </div>
  <div class="col-10 name-person">
    <h4>{{ tagname }}</h4>
  </div>

  {% for question in questions %}
    {% include 'inc/question_box.html' %}
  {% endfor %}

</div>
{% endblock %}

{% block footer %}
    {% include 'inc/pagination.html' %}
{% endblock %}
