{% extends 'inc/base.html' %}
{% load static %}

{% block title %}Tag{% endblock %}
{% block extrahead %}
    <link href="{% static "css/main-index.css" %}" rel="stylesheet">
{% endblock %}

{% block content %}
<div>
  <div class="row">
      <div class="col-3 list-group">
        <div class="list-group-item list-group-item-secondary text-center my-auto">{{ tagname }}</div>
      </div>
      <div class="col-7"></div>
      <a class="btn btn-primary col-2" href="{% url 'ask' %}">Ask</a>
  </div>

  <div>
  {% for question in questions %}
    {% include 'inc/question_box.html' %}
  {% endfor %}
  </div>

</div>
{% endblock %}

{% block footer %}
    {% include 'inc/pagination.html' %}
{% endblock %}
