{% load static %}

<div class="row box-answer border border-dark rounded">
  <div class="col-2 info-person-answer">
    <img class="person-answer-img" src="{{ answer.user.profile.avatar.url }}" alt="">
    <div class="d-flex justify-content-center like-info">
      <img class="btn btn-primary btn-sm btn-light js-vote" data-action="like" data-id="{{ answer.pk }}" src="{% static 'img/like.png' %}" height="24">
      <div class="bd-highlight like-status" id="like-rating-{{ answer.pk }}">{{ answer.like }}</div>
      <img class="btn btn-primary btn-sm btn-light js-vote" data-action="dislike" data-id="{{ answer.pk }}" src="{% static 'img/dislike.png' %}" height="24">
    </div>
  </div>
  <div class="col-10 content-answer">
    <div class="text-answer">
      {{ answer.title }} <br></br> {{ answer.text }}
    </div>
    <div class="row info-answer">
      <!-- TODO: Correct! -->
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
        <label class="form-check-label" for="defaultCheck1">
          Correct!
        </label>
      </div>
    </div>
  </div>
</div>
