{% load static %}

<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <div class="container d-flex bd-highlight">
    <div class="p-1">
      <p><a class="navbar-brand" href="{% url 'index' %}">{{ forum_name }}</a></p>
    </div>
    <div class="p-1 head-nav form-inline">
      <img class="avatart-img" src="{{ user.profile.avatar.url }}" height="48" alt="" loading="lazy">
      <div class="head-box">
        <p class="avatar-name text-light">{{ user.get_full_name }}</p>
        <div class="head-container">
          <p><a class="head-link text-white-50" href="{% url 'settings' %}">Settings</a></p>
          <p><a class="head-link text-white-50" href="{% url 'logout' %}?next={{ request.path }}">Log out</a></p>
        </div>
      </div>
    </div>
  </div>
</nav>
