{% load static %}

<div class="row question-box border border-dark rounded">
  <div class="col-2 info-person">
      <img class="question-img" src="{{ question.user.profile.avatar.url }}" alt="">
      <div class="d-flex justify-content-center like-info">
        <img class="btn btn-primary btn-sm btn-light js-vote" data-action="like" data-qid="{{ question.pk }}" src="{% static 'img/like.png' %}" height="24">
        <div class="bd-highlight like-status">{{ question.like }}</div>
        <img class="btn btn-primary btn-sm btn-light js-vote" data-action="dislike" data-qid="{{ question.pk }}" src="{% static 'img/dislike.png' %}" height="24">
      </div>
  </div>

  <div class="col-10 question-content">
      <div class="question-title">
        <a href="{% url 'question' pk=question.id %}" class="text-dark">{{ question.title }}</a>
      </div>
      <div class="question-text">
        {{ question.text }}
      </div>
      <div class="row question-info">
        <div class="col-3 question-answer">
          <a href="{% url 'question' pk=question.id %}">answer({{ question.answer }})</a>
        </div>
        <div class="col-auto question-tags">
          <p class="float-left">Tags: </p>
          {% for tag in question.tags.get_all %}
            <p class="float-left ques-tag">
              <a href="{% url 'tag' tagname=tag.name %}">{{ tag.name }}</a>
            </p>
          {% endfor %}
        </div>
      </div>
  </div>
</div>
