{% load static %}

<div class="row box-qst border-bottom border-dark">
{#  <div class="col-2 info-person-qst">#}
{#      <img class="person-qst-img" src="{{ question.user.profile.avatar.url }}" alt="">#}
{#      <div class="d-flex justify-content-center like-info">#}
{#        <!-- disabled вставить в class -->#}
{#        <img class="btn btn-primary btn-sm btn-light js-vote" data-action="like" data-id="{{ question.pk }}" src="{% static 'img/like.png' %}" height="24">#}
{#        <div class="bd-highlight like-status" id="like-rating-{{ question.pk }}">{{ question.like }}</div>#}
{#        <img class="btn btn-primary btn-sm btn-light js-vote" data-action="dislike" data-id="{{ question.pk }}" src="{% static 'img/dislike.png' %}" height="24">#}
{#      </div>#}
{#  </div>#}

  <div class="col-2 d-flex justify-content-center">
      <div class="d-flex flex-column justify-content-around">
          <div>
              <p class="text-uppercase text-center font-weight-lighter">{{ question.like }}</p>
              <p class="text-lowercase text-center font-weight-lighter">likes</p>
          </div>
            <a href="{% url 'question' pk=question.id %}" class="btn btn-outline-success">
              <p class="text-uppercase text-center font-weight-lighter">{{ question.answer }}</p>
              <p class="text-lowercase text-center font-weight-lighter">answers</p>
            </a>
      </div>
{#    <a href="{% url 'question' pk=question.id %}">answer({{ question.answer }})</a>#}
  </div>
  <div class="col-10 content-qst">
      <div class="title-qst">
        <a href="{% url 'question' pk=question.id %}" class="text-dark">{{ question.title }}</a>
      </div>
      <div class="question-text">
        {{ question.text }}
      </div>
      <div class="row question-info">
        <div class="col-auto tags-qst">
{#          <p class="float-left">Tags: </p>#}
          {% for tag in question.tags.get_all %}
            <a href="{% url 'tag' tagname=tag.name %}" class="button-tag btn btn-outline-info">{{ tag.name }}</a>
{#            <p class="float-left ques-tag">#}
{#              <a href="{% url 'tag' tagname=tag.name %}">{{ tag.name }}</a>#}
{#            </p>#}
          {% endfor %}
        </div>
      </div>
  </div>
</div>
