{% load static %}

<div class="row question-box border border-dark rounded">
  <div class="col-2 info-person">
      <img class="question-img" src="{% static 'img/200.jpeg' %}" alt="">
      <div class="d-flex justify-content-center like-info">
        <img class="btn btn-primary btn-sm btn-light" src="{% static 'img/like.png' %}" height="24">
        <div class="bd-highlight like-status">+2</div>
        <img class="btn btn-primary btn-sm btn-light" src="{% static 'img/dislike.png' %}" height="24">
      </div>
  </div>

  <div class="col-10 question-content">
      <div class="question-title">
        <a href="{% url 'question' pk=question.id %}" class="text-dark">{{ question.title }}</a>
      </div>
      <div class="question-text">
        {{ question.text }}
      </div>
      <div class="row question-info">
        <div class="col-3 question-answer">
          <a href="{% url 'question' pk=question.id %}">answer(3)</a>
        </div>
        <div class="col-auto question-tags">
          <p class="float-left">Tags: </p>
          <p class="float-left ques-tag">
            <a herf="#">black-jack</a>
          </p>
          <p class="float-left ques-tag">
            <a herf="#">bender</a>
          </p>
        </div>
      </div>
  </div>
</div>
