<div class="info-box">
  <div class="info-title">
    <h4>Popular Tags</h4>
  </div>
  <div class="tags-container">
      <p class="tag">perl</p>
      <p class="tag">python</p>
      <p class="tag">TehnoPark</p>
      <p class="tag">MySQL</p>
      <p class="tag">django</p>
      <p class="tag">Mail.Ru</p>
      <p class="tag">Voloshin</p>
      <p class="tag">Firefox</p>
  </div>
</div>

<div class="members-box">
  <div class="members-title">
    <h4>Best Members</h4>
  </div>
  <ul class="">
    <li class=""><a href="#">Mr.Freeman</a></li>
    <li><a href="#">Mr.Freeman</a></li>
    <li><a href="#">Mr.Freeman</a></li>
    <li><a href="#">Mr.Freeman</a></li>
    <li><a href="#">Mr.Freeman</a></li>
  </ul>
</div>
